---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import PizzaList from '../components/PizzaList.jsx';

let title = 'Pizzas';
---

<DefaultLayout title={title}>
  <h1>{title}</h1>

  <PizzaList client:load />
</DefaultLayout>